CR Update Request for  WebRTC 1.0: Real-time Communication Between Browsers webrtc

# Link to group's decision to request transition
https://lists.w3.org/Archives/Public/public-webrtc/2019Nov/0068.html 

# Link to previous Candidate Recommendation transition request
https://lists.w3.org/Archives/Member/chairs/2018JulSep/0133.html

# Substantive changes
122 substantive pull requests merged: https://github.com/w3c/webrtc-pc/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aclosed+-label%3AEditorial+merged%3A%3E%3D2018-09-15

Highlights include:

The following features were removed given lack of implementation adoption:
* OAuth as a credential method for ICE servers (to be moved to an extension spec)
* Negotiated RTCRtcpMuxPolicy (previously marked at risk)
* voiceActivityDetection (overtaken by rtp parameters)
* getDefaultIceServers() (to be considered or revamped in 1.1)
* RTCCertificate.getSupportedAlgorithms() (to be considered in 1.1)
* statsended event (overtaken by restructuring of stats lifecycle)
* RTCRtpEncodingParameters: ptime, maxFrameRate (to be considered in 1.1), codecPayloadType, dtx, encodings, degradationPreference (moved to Content-Hints)
* Datachannel.priority (moved to DSCP extension)

The following features have been marked as at risk:
* RTCError attributes

The following features have been added:
* restartIce() method added to PeerConnection
* Introduced the concept of “perfect negotiation”, with an example to solve signaling races.
  * Implicit rollback in setRemoteDescription to solve races.
  * Implicit offer/answer creation in setLocalDescription to solve races.

The following features have been updated:
* Use of internal slots in several API descriptions to clarify state machine updates
* Clarification of state machine transitions for PeerConnection State, ICE Connection State
* Updates to reflect WebIDL changes (constructor, default value for dictionaries)
* Restructuring of the setLocalDescription and setRemoteDescription
* Clarify and align with implementations the use of simulcast
* Align with latest changes in webrtc-stats

# Any changes in normative references?
New normative references:
* [MMUSIC-RID] RTP Payload Format Restrictions . Adam Roach. IETF. 15 May 2018. Active Internet-Draft. URL: https://tools.ietf.org/html/draft-ietf-mmusic-rid/ 
* [RFC5246] The Transport Layer Security (TLS) Protocol Version 1.2 . T. Dierks; E. Rescorla. IETF. August 2008. Proposed Standard. URL: https://tools.ietf.org/html/rfc5246 
* [RFC8174] Ambiguity of Uppercase vs Lowercase in RFC 2119 Key Words . B. Leiba. IETF. May 2017. Best Current Practice. URL: https://tools.ietf.org/html/rfc8174 

Formerly (mistakenly) marked as informative
* [IANA-RTP-2] RTP Payload Format media types . IANA. URL: https://www.iana.org/assignments/rtp-parameters/rtp-parameters.xhtml#rtp-parameters-2
* [RFC3890] A Transport Independent Bandwidth Modifier for the Session Description Protocol (SDP) . M. Westerlund. IETF. September 2004. Proposed Standard. URL: https://tools.ietf.org/html/rfc3890 
* [RFC5506] Support for Reduced-Size Real-Time Transport Protocol (RTCP): Opportunities and Consequences . I. Johansson; M. Westerlund. IETF. April 2009. Proposed Standard. URL https://tools.ietf.org/html/rfc5506 
* [RFC8445] Interactive Connectivity Establishment (ICE): A Protocol for Network Address Translator (NAT) Traversal . A. Keranen; C. Holmberg; J. Rosenberg. IETF. July 2018. Proposed Standard. URL: https://tools.ietf.org/html/rfc8445 
* [STUN-PARAMETERS] STUN Error Codes. IETF. IANA. April 2011. IANA Parameter Assignment. URL: https://www.iana.org/assignments/stun-parameters/stun-parameters.xhtml#stun-parameters-6
* [WEBSOCKETS-API] The WebSocket API. Ian Hickson. W3C. 20 September 2012. W3C Candidate Recommendation. URL: https://www.w3.org/TR/websockets/

Removed normative references:
* RFC5761
* [RFC6749] The OAuth 2.0 Authorization Framework . D. Hardt, Ed.. IETF. October 2012. Proposed Standard. URL: https://tools.ietf.org/html/rfc6749 
* [RFC7515] JSON Web Signature (JWS) . M. Jones; J. Bradley; N. Sakimura. IETF. May 2015. Proposed Standard. URL: https://tools.ietf.org/html/rfc7515 
https://tools.ietf.org/html/draft-ietf-tram-stunbis
* [RFC7635] Session Traversal Utilities for NAT (STUN) Extension for Third-Party Authorization . T. Reddy; P. Patil; R. Ravindranath; J. Uberti. IETF. August 2015. Proposed Standard. URL: https://tools.ietf.org/html/rfc7635

# Any changes in requirements?
N/A

# Wide Review of substantive changes
The Working Group assessed that none of the substantive changes affected previous reviews of the spec given their low-level nature
The Working Group incorporated a proposed addition from the APA Working Group describing accessibility considerations https://github.com/w3c/webrtc-pc/pull/2328

# Issues status
All substantive issues have been resolved (with a couple necessitating a bit more of editorial work, but whose substance is agreed, and whose outcome is uncontroversial)
https://github.com/w3c/webrtc-pc/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+-label%3AEditorial++-label%3A%22WebRTC+NV%22

# Formal Objections
N/A

# Any changes in implementation information?
Implementations have significantly converged since the previous Candidate Recommendation; once this updated CR is published, the group will focus its efforts on the implementation report.

# Deadline for further comments
1 month after publication

# Any changes in patent disclosures?
N/A


Transition approved.

Please update the [WEBSOCKETS-API] and [webmessaging] references to the WHATWG HTML LS spec.

Draft transition approved.