CR Update Request for Web of Things (WoT) Thing Description - wot-thing-description

# Link to updated CR draft
https://cdn.statically.io/gh/w3c/wot-thing-description/CR2-request/publication/cr2/index.html

For informational purposes, an auto-generated diff from the previous CR is at:
https://cdn.statically.io/gh/w3c/wot-thing-description/CR2-request/publication/cr2/diff.html

# Link to GitHub files for updated CR draft
https://github.com/w3c/wot-thing-description/tree/CR2-request/publication/cr2

# Link to group's decision to request transition
https://www.w3.org/2019/10/16-wot-minutes.html#resolution04

# Link to previous Candidate Recommendation transition request
https://lists.w3.org/Archives/Member/chairs/2019AprJun/0064.html

# Substantive changes
- Thing ID is now no longer required to be unique, and is also now optional
- Terminology is now non-normative.
- The default value of "flow" in the OAuth2 security scheme was removed, and it was made mandatory
- A new assertion allows a Thing to reject incomplete writes for the writeallproperties operation

# Any changes in normative references?
- References to all other WoT documents, in particular the Web of Things (WoT) Architecture, have been made informative.
- As all terminology definitions are now informative, references only from that section are now informative, not normative.
- The following normative references were added: eventsource, RFC2046, RFC3987, RFC7616, RFC7617, websub, XMLSCHEMA11-2-20120405
- The following normative references were removed or converted into informative references: HTTP-in-RDF10, MQTT, IANA-MEDIA-TYPES, RFC3966, RFC6068, RFC7231, SHACL

# Any changes in requirements?
No.

# Wide Review of substantive changes
In addition to the wide reviews done for the previous CR transition, this version has addressed several issues raised by the Privacy IG during their review.

# Issues status
All issues are either closed or marked for resolution by PR transition (informative changes) or have been deferred to an update to be developed under a rechartered WG.

# Formal Objections
None.

# Any changes in implementation information?
- The Implementation Report has been updated and the version for this CR transition request can be found at
https://cdn.statically.io/gh/w3c/wot-thing-description/CR2-request/testing/report.html
- Additional implementations have been added by TUM (Technical University of Munich)
- Compared to the last CR, the PSK, API Key, and the OAuth2 flow "code" are now no longer at risk.   Other OAuth2 flows (implicit, password, and client) and the Cert, Public, and Pop Security Schemes are still at risk.  Default values associated with these items are also marked as at-risk.

# Deadline for further comments
We intend to request a PR transition on Dec 10, 2019.

# Any changes in patent disclosures?
No.

Note: A small correction was made Oct 23 to note an additional normative assertion with id "td-writeall-consumer" was added.   It is also at-risk (no implementation yet), and this is noted in the document.

Where will I find the WG discussion on making the Architecture references non-normative?  Especially Section 3?

Thanks a lot for your comment, @swickr !

Please let me provide some resources (as I mentioned on IRC :)

1. Oct-8: It was suggested to make the reference from Thing Description (TD) to WoT Architecture (Architecture) informative during the joint call with the Privacy IG, because the Architecture draft was imperfect from the privacy preservation viewpoint and TD should be handled separately from the Architecture draft. [Minutes (Member-only)](https://www.w3.org/2019/10/08-ping-wot-minutes.html)

2. Oct-10: Following that feedback, there was discussion about making the terminology section of the Architecture draft informative during the Architecture TF call. [Minutes (Member-only)](https://www.w3.org/2019/10/10-wot-arch-minutes.html)

3. Oct-15: I consulted with Philippe about the idea of making the terminology section of the Architecture draft informative. He reviewed the document and mentioned the usage of terminology definition within the Architecture draft allowed us to make it informative.

4. Oct-16: The WoT WG had discussion again about that idea during the WoT main call and thought the terminology sections of both the TD draft and the Architecture draft should have been informative to be consistent with the reference from TD to Architecture. [Minutes](https://www.w3.org/2019/10/16-wot-minutes.html)

5. Oct-17: The Architecture TF confirmed that direction (=making the reference from TD to Architecture informative; also make the terminology section within the Architecture draft informative)
during the Architecture TF call. [Minutes (Member-only)](https://www.w3.org/2019/10/17-wot-arch-minutes.html)

6. Oct-18: The TD TF also confirmed that direction (=making the reference from TD to Architecture informative; also make the terminology section within the TD draft informative) during the TF call. [Minutes (Member-only)](https://www.w3.org/2019/10/18-wot-td-minutes.html) And created/merged two Pullrequests for the changes, [TD PR821](https://github.com/w3c/wot-thing-description/pull/821) and [TD PR827](https://github.com/w3c/wot-thing-description/pull/827).

7. Oct-21: Regarding the change for the Architecture draft, we had not created a Pullrequest for the concrete text change yet. So I myself created a Pullrequest for the change , [Architecture PR403](https://github.com/w3c/wot-architecture/pull/403), based on the conclusion, and it was merged.

Thanks @ashimura -- I was concerned that some normative semantics might be present only in those two Sections 3 and this might have been overlooked in the rush to disconnect the dependency on the Architecture document.   Looking at those discussions I sense that some others might also be concerned about this.  If it does turn out that some of the text should be restored to normative the WG might present a case that those would be editorial changes.

Thanks a lot, @swickr !
We'll see if we get any concerns about the terminology sections during the second CR period.

Draft transition approved.