CR Update Request for W3C Identifiers for WebRTC's Statistics API webrtc-stats

# Link to group's decision to request transition
CfC sent to the group's public list:
https://lists.w3.org/Archives/Public/public-webrtc/2019Dec/0029.html

# Link to previous Candidate Recommendation transition request
https://lists.w3.org/Archives/Member/chairs/2018JanMar/0122.html

# Substantive changes

There were 47 substantive pull requests, documented at:
https://github.com/w3c/webrtc-stats/pulls?page=1&q=is%3Apr+is%3Aclosed+-label%3AEditorial+merged%3A%3E%3D2018-07-03&utf8=✓

Most are additions, however some impact track/sender/receiver stats
and networkType was removed based on review from the Privacy Interest Group.

# Any changes in normative references?
all but 1 non-normative references have been moved to normative refs:
[RFC2032]
RTP Payload Format for H.261 Video Streams. T. Turletti; C. Huitema. IETF. October 1996. Proposed Standard. URL: https://tools.ietf.org/html/rfc2032
[RFC2474]
Definition of the Differentiated Services Field (DS Field) in the IPv4 and IPv6 Headers. K. Nichols; S. Blake; F. Baker; D. Black. IETF. December 1998. Proposed Standard. URL: https://tools.ietf.org/html/rfc2474
[RFC4587]
RTP Payload Format for H.261 Video Streams. R. Even. IETF. August 2006. Proposed Standard. URL: https://tools.ietf.org/html/rfc4587
[RFC5226]
Guidelines for Writing an IANA Considerations Section in RFCs. T. Narten; H. Alvestrand. IETF. May 2008. Best Current Practice. URL: https://tools.ietf.org/html/rfc5226
[RFC5764]
Datagram Transport Layer Security (DTLS) Extension to Establish Keys for the Secure Real-time Transport Protocol (SRTP). D. McGrew; E. Rescorla. IETF. May 2010. Proposed Standard. URL: https://tools.ietf.org/html/rfc5764
[RFC6184]
RTP Payload Format for H.264 Video. Y.-K. Wang; R. Even; T. Kristensen; R. Jesup. IETF. May 2011. Proposed Standard. URL: https://tools.ietf.org/html/rfc6184
[RFC6386]
VP8 Data Format and Decoding Guide. J. Bankoski; J. Koleszar; L. Quillio; J. Salonen; P. Wilkins; Y. Xu. IETF. November 2011. Informational. URL: https://tools.ietf.org/html/rfc6386
[RFC6464]
A Real-time Transport Protocol (RTP) Header Extension for Client-to-Mixer Audio Level Indication. J. Lennox, Ed.; E. Ivov; E. Marocco. IETF. December 2011. Proposed Standard. URL: https://tools.ietf.org/html/rfc6464
[RFC7656]
A Taxonomy of Semantics and Mechanisms for Real-Time Transport Protocol (RTP) Sources. J. Lennox; K. Gross; S. Nandakumar; G. Salgueiro; B. Burman, Ed.. IETF. November 2015. Informational. URL: https://tools.ietf.org/html/rfc7656
[WEBIDL]
Web IDL. Cameron McCormack; Boris Zbarsky; Tobie Langel. W3C. 15 December 2016. W3C Editor's Draft. URL: https://heycam.github.io/webidl/
[XRBLOCK-STATS]
RTCP XR Metrics for WebRTC. Varun Singh; Rachel Huang; Roni Even; Dan Romascanu; Lingli Deng. IETF. Internet Draft. URL: https://tools.ietf.org/html/draft-ietf-xrblock-rtcweb-rtcp-xr-metrics

# Any changes in requirements?
None

# Wide Review of substantive changes
The Privacy Interest Group's review made the group remove the networkType property due to its privacy implications. The Working Group assessed that the other substantive changes were unlikely to impact existing wide reviews of the document.

# Issues status
There are 28 open non-editorial issues:
https://github.com/w3c/webrtc-stats/issues?page=2&q=is%3Aissue+is%3Aopen+-label%3AEditorial+-label%3AIcebox&utf8=✓

# Formal Objections
None

# Any changes in implementation information?
There is a 4th partial implementation. test reports will be tracked in
https://wpt.fyi/results/webrtc-stats

# Deadline for further comments
End of January.

# Any changes in patent disclosures?
None


Document:
  https://w3c.github.io/webrtc-stats/

Normative references checks:
 https://labs.w3.org/normative-references/check?url=https%3A%2F%2Fw3c.github.io%2Fwebrtc-stats%2F

From that report, please directly reference the WHATWG HTML LS instead of
[[
https://www.w3.org/TR/2014/REC-html5-20141028/webappapis.html
https://www.w3.org/TR/html5/
]]


I see the [WG CfC](https://lists.w3.org/Archives/Public/public-webrtc/2019Dec/0029.html) closes on 16 December.

CfC is over and no objection were received.

Transition approved.

Transition approved.

Draft transition approved.